// Arquivo: _layout.scss
@use 'variables'; // Importa as variáveis

@use "sass:color";

@use 'mixins';

body.login-background {
  background-color: variables.$cor-fundo-login; 
  min-height: 100vh; // Garante que o body ocupe a altura total da tela
  @include mixins.centralizar-flex;

}
  

// Estilo para o botão primário do Bootstrap
.btn-primary {
  --bs-btn-bg: #{variables.$cor-primaria};
  --bs-btn-border-color: #{variables.$cor-primaria};
  
  // Exemplo de Aninhamento (Nesting)

&:hover {
  background-color: color.adjust(variables.$cor-primaria, $lightness: -5%);
  border-color: color.adjust(variables.$cor-primaria, $lightness: -5%);
}
}

//  botão customizado, agora com aninhamento
.btn-secondary-custom {
  background-color: variables.$cor-secundaria;
  border-color: variables.$cor-secundaria;
  color: #fff;.header-logo

  &:hover {
    background-color: color.adjust(variables.$cor-secundaria, $lightness: -5%);
    border-color: color.adjust(variables.$cor-secundaria, $lightness: -5%);
  }
}

// Classes de fundo para as páginas
body.login-background {
  background-color: variables.$cor-fundo-login; 
}

body.app-background {
  background-color: variables.$cor-fundo-app;
  padding-top: 100px;    // Adiciona espaço para o header fixo
  padding-bottom: 90px; // Adiciona espaço para a navbar fixa

}

// Estilo para o logo nos cabeçalhos
.header-logo {
  height: 80px;
  // width: auto;
}

// Estilo para o Botão de Ação Flutuante
.fab {
  width: 60px;
  height: 60px;
  bottom: 100px;
  right: 20px;
  font-size: 28px;
  z-index: 100;
}