// Arquivo: _layout.scss
@use 'variables'; // Importa as variáveis

@use "sass:color";

@use 'mixins';

body.login-background {
  background-color: variables.$cor-fundo-login; 
  min-height: 100vh; // Garante que o body ocupe a altura total da tela
  @include mixins.centralizar-flex;

}
  

// Estilo para o botão primário do Bootstrap
.btn-primary {
  --bs-btn-bg: #{variables.$cor-primaria};
  --bs-btn-border-color: #{variables.$cor-primaria};
  
  // Exemplo de Aninhamento (Nesting)

&:hover {
  background-color: color.adjust(variables.$cor-primaria, $lightness: -5%);
  border-color: color.adjust(variables.$cor-primaria, $lightness: -5%);
}
}

//  botão customizado, agora com aninhamento
.btn-secondary-custom {
  background-color: variables.$cor-secundaria;
  border-color: variables.$cor-secundaria;
  color: #fff;.header-logo

  &:hover {
    background-color: color.adjust(variables.$cor-secundaria, $lightness: -5%);
    border-color: color.adjust(variables.$cor-secundaria, $lightness: -5%);
  }
}

// Classes de fundo para as páginas
body.login-background {
  background-color: variables.$cor-fundo-login; 
}

body.app-background {
  background-color: variables.$cor-fundo-app;
   // Adiciona espaço para a navbar fixa

  // Aplica o padding-top APENAS em telas grandes (para o header de desktop)
   
    padding-top: 100px; 
  

  // Aplica o padding-bottom APENAS em telas pequenas (para a navbar mobile)
  @media (max-width: 991.98px) { 
    padding-bottom: 90px;
  }

}

// Estilo para o logo nos cabeçalhos
.header-logo {
  height: 80px;
  // width: auto;
}

// Estilo para o Botão de Ação Flutuante
.fab {
  width: 60px;
  height: 60px;
  bottom: 100px;
  right: 20px;
  font-size: 28px;
  z-index: 100;
}

// Botões de dificuldade customizados para Flashcards

.btn-facil {
  background-color: #dcfce7 !important; // Verde claro
  color: #166534 !important; // Verde escuro
  border-color: #dcfce7 !important;
  font-weight: 600;
  &:hover {
    background-color: #bbf7d0 !important;
  }
}

.btn-medio {
  background-color: #fef9c3 !important; // Amarelo claro
  color: #854d0e !important; // Amarelo escuro
  border-color: #fef9c3 !important;
  font-weight: 600;
  &:hover {
    background-color: #fde047 !important;
  }
}

.btn-dificil {
  background-color: #fee2e2 !important; // Vermelho claro
  color: #991b1b !important; // Vermelho escuro
  border-color: #fee2e2 !important;
  font-weight: 600;
  &:hover {
    background-color: #fecaca !important;
  }
}

// Utility class for orange text
.text-laranja {
  color: variables.$cor-secundaria !important; // $cor-secundaria é o seu laranja
}
