// Arquivo: _variables.scss

// ==== CORES ====
$cor-primaria: #1E3A8A;           // O azul principal do LangUp
$cor-secundaria: #F97316;         // O laranja para destaque
$cor-texto: #111827;              // O preto padrão para textos
$cor-fundo-app: #F9FAFB;          // O cinza claro do fundo do app
$cor-fundo-login: #343a40;       // O cinza escuro do fundo do login

// ==== TIPOGRAFIA ====
$fonte-principal: 'Poppins', sans-serif;
$fonte-tamanho-base: 1rem; // 16px